.result-block {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #d147a3;
    border-radius: 5px;
    background: #fff; /* Fond blanc */
}

.result-block .pelote-header {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #d147a3; /* Fond rose */
    color: white; /* Texte blanc */
    font-weight: bold;
    border-radius: 15px; /* Coins arrondis */
    font-size: 1rem;
    text-align: center;
}

.result-block p {
    margin: 5px 0;
    font-size: 1rem;
    color: #d147a3; /* Texte des résultats en rose */
}

.result-block p strong {
    color: #4CAF50; /* Valeurs des résultats en vert */
}

