body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 14px;
}

.container {
    display: flex;
    gap: 15px; /* Espace entre les colonnes */
}

.left-section, .middle-section, .right-section {
    border: 2px solid #d147a3; /* Encadré rose */
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 30%; /* Ajuste la largeur pour trois colonnes */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2 {
    color: #a1357a;
    margin-top: 15px;
    font-size: 16px;
}

h3 {
    color: #a1357a;
    margin-top: 10px;
    font-size: 15px;
}

.result-text {
    color: #d147a3;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.result-grammage {
    color: #4CAF50;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: #d147a3;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid #d147a3;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    color: #a1357a;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background-color: #d147a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}

button.large {
    padding: 12px 18px;
    font-size: 15px;
    margin-top: 25px; /* Ajoute un espace au-dessus du bouton */
}

button.highlighted {
    padding: 15px 20px;
    background-color: #d147a3;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;
}

button:hover {
    background-color: #b8378a;
}

input:focus {
    outline: none;
    border-color: #d147a3;
    box-shadow: 0 0 3px #d147a3;
}
